<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bynow.rei.modular.system.dao.BlogBannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bynow.rei.modular.system.model.BlogBanner">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="banner_image_url" property="bannerImageUrl" />
        <result column="banner_order_id" property="bannerOrderId" />
        <result column="banner_on_show" property="bannerOnShow" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, banner_image_url AS bannerImageUrl, banner_order_id AS bannerOrderId, banner_on_show AS bannerOnShow
    </sql>

</mapper>
