<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bynow.rei.core.module.dao.test.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bynow.rei.core.module.entity.test.Test">
        <id column="id" property="id" />
        <result column="code" property="code" />
    </resultMap>

  <select id="testSelect" resultMap="BaseResultMap">
        select * from test
  </select>

</mapper>