@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" underline="true"/>
                            <#input id="userId" name="用户id" underline="true"/>
                            <#input id="categoryId" name="类别id" underline="true"/>
                            <#input id="author" name="作者" underline="true"/>
                            <#input id="title" name="文章名" underline="true"/>
                            <#input id="copyFrom" name="转载链接" underline="true"/>
                            <#input id="simpleDesc" name="简单描述" underline="true"/>
                            <#input id="bannerUrl" name="banner图链接"/>
                </div>

                <div class="col-sm-6">
                            <#input id="keywords" name="关键字  标签" underline="true"/>
                            <#input id="detail" name="内容" underline="true"/>
                            <#input id="onShow" name="是否展示" underline="true"/>
                            <#input id="hits" name="点击数" underline="true"/>
                            <#input id="postNum" name="评论数" underline="true"/>
                            <#input id="createStatus" name="原创1;转载0" underline="true"/>
                            <#input id="createTime" name="创建时间" underline="true"/>
                            <#input id="updateTime" name="更新时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ArticleInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ArticleInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/blog/article/article_info.js"></script>
@}
