<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bynow.rei.modular.blog.dao.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bynow.rei.modular.blog.model.Category">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="on_show" property="onShow" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, name, on_show AS onShow, update_time AS updateTime, create_time AS createTime
    </sql>

</mapper>
